body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

header{
    background-color: black;
    padding: 20px 0;
}

h1, h2{
    margin: 0;
}

.head_text{ 
    color: grey;
    height: 50px;
    width: 100%;
    text-align: left;
    margin: 0 30px;
    font-weight: 100;
    font-family: "Century Gothic", sans-serif;
    font-size: 24px;
}
.section{
    margin: 0;
    width: 100%;
}
.h1_container{
    margin: 30px 20%;
    color: rgb(61, 59, 59);
    font-family: "Century Gothic", sans-serif;
    font-weight: 100;
    font-size: 34px;
}
#typer{
    border-radius: 5px;
    border: #cecece solid 1px;
    margin: 20px 3% 20px 25%;
    width: 40%;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
    padding: 0 5px
}
.task_div{
    vertical-align: middle;
    border-radius: 5px;
    border: #cecece solid 1px;
    margin: 3px 15%;
    height: 48px;
    width: 60%;
    left: 75px;
}
.check{
    margin: 15px 20px;
    height: 20px;
    width: 20px;
}

.task_text{
    display: inline-block;
    width: 100px;
    margin: 5px 4px;
    text-align: left;
}
.trash{
    float: right;
    margin: 15px 20px;
    width: 20px;
    height: 20px;
}
button{
    color: white;
    background-color: #3e7fe7;
    height: 40px;
    width: 5%;
    border: #9ccdc4 solid 1px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}